*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #FFF2CF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9F6FDC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c4edd;
}


:root {
    --main-color-1:#9F6FDC;
    --main-color-2:#FFF2CF;
}

#foo {
    color: var(--main-color-1);
    color: var(--main-color-2);
}

body{
}





.header{
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 4px 20px 0px rgb(20 20 20);   

}

.left{
    margin-left: 15px;
    font-size: 25px;
    color: white;
}

.right nav ul{
    display: flex;
    margin-right: 5px;
    
}



.right nav ul li{
    list-style: none;
    padding: 2px;
    margin: 0 25px;
    
}


.img1{
    position: relative;
}

.img1 img{
  width: 100%;
  filter: brightness(0.4);
    
}

.img1-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
}

.img1-text1{
    font-size: 3.5vw;
    font-weight:1000;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
   
    
}
.img1-text2{
    font-size: 22px;
    color: rgb(215, 215, 215);
    margin: 5px 0;
    text-align: center;
}
.img1-button{
    display: block;
    margin:15px auto;
    text-align: center;
    padding: 8px 35px;
    font-size: 16px;
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 4px 5px 0px rgb(40, 40, 40);
}

.section2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 30px;

}

.section2-left{
    width: 50%;
}
.section2-right img{
    width: 400px;
}

.section2-heading{
font-size: 36px;
margin-bottom: 15px;
font-weight: bold;

}

.section2-right img {
  width: 30vw;
  padding-top: 50px;
}


.section2-text1{
    font-size: 32px;
    width: 80%;
    margin-bottom: 10px;
}
.section2-text2{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}
.section2-box1{
    width: 400px;
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    margin: 10px 0;
    display:flex;
    justify-content: center;
    border-radius: 0px 50px 0px 0px;
    padding: 15px 0;
    box-shadow: 0px 4px 5px 0px rgb(151 151 151);

}
.section2-box2{
    width: 400px; 
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    margin: 5px 0;
    display:flex;
    justify-content: center;
    border-radius: 0px 50px 0px 0px;
    padding: 15px 0;
    box-shadow: 0px 4px 5px 0px rgb(151 151 151);


}

.section-box-left{
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0 20px;

}

.section-box-right{
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 20px;

}

.section3{
    margin: 60px 0;
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    padding: 50px 0;
}

.section3-heading{
    font-size: 22px;
    text-align: center;
    margin: 10px auto;
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    width: 200px;
    border-radius: 50px;
    padding: 8px 0;
    box-shadow: 0px 4px 5px 0px rgb(151 151 151);


}

.section3-sub_heading{
    font-size: 36px;
    text-align: center;
    font-weight: 600px;
    margin: 10px auto;
}

.section3-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}

.section3-container-child img{
   width: 150px;
  
}

 .section3-container-child{
    width: 250px;
    text-align: center;
 }

 .section3-container-heading{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 10px 0;
 }

 .section3-container-sub_heading{
    text-align:center;
    margin-bottom: 20px;
 }

 .section3-container-list{
    width: 100%;
    list-style: none;
    text-align: start;
    padding-left: 20%;
 }

 .section4-heading{
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
  width: 250px;
  border-radius: 50px;
  margin: 40px auto;
  padding: 7px 0;
  box-shadow: 0px 4px 5px 0px rgb(151 151 151);

}

.service-heading{
  font-size: 42px;
  font-weight: 600;
}

.service-content-heading{
  color: gray;
  font-size: 20px;

}
 .section4-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
 }

 .texr-align-center{
    text-align:start;
 }

 .section4-flex-img img{
    width: 40vw;
 }

 .section4-flex-text{
    width: 50vw;
 }

 .section4-flex-text-button{
  display: block;
  margin:15px 0;
  text-align: center;
  padding: 8px 20px;
  font-size: 16px;
  background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
  border-radius: 50px;
  border-style: none;
  box-shadow: 0px 4px 5px 0px rgb(151 151 151);

 }

 .section5{
  background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    padding: 30px 0;

 }

 .section5-heading1{
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
  width: 250px;
  border-radius: 50px;
  margin: 30px auto;
  padding: 7px 0;
  box-shadow: 0px 4px 5px 0px rgb(151 151 151);

 }

 .section5-heading2{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
 }

 .section5-sub_heading{
    text-align: center;
    font-size: 22px;
    color: rgb(76, 76, 76);
 }

 .tech-slideshow {
    height: 200px;
    max-width: 80vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin: 50px auto;
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }                            

  .section6{
    margin: 50px 0;
  }

  .section6-heading{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 7px;
  }

  .section6-text{
    text-align:center;
    font-size: 20px;
    width: 60%;
    margin: auto;
    color: gray;
  
  }

  .scroll{
    width: 72%;
    margin: auto;
    text-align: center;
    height:400px ;
    overflow-x: auto;
  }

  .section6-flex{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
  }

  .section6-profile{
      height: 300px;
      width: 200px;
      /* border: 2px solid black; */
      border-radius: 10px;
      margin: 40px;
      background-color: aliceblue;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .section6-profile img{
    width: 175px;
    display:block;
    text-align: center;
    margin:10px  auto;
  }
  .devloper-name{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
  }

  .devloper-proffesion{
    text-align: center;
  }

  .section7{
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    padding: 30px 0;
  }

  .section7-heading{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
  }

  .footer{
    background-image: linear-gradient(to right,#593e7d , #736d5b);
    color: white;
    padding: 40px 10%;
  }

  .footer-heading{
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
  }

  .footer-flex{
    display: flex;
    align-items: center;
  }

  .footer-containt{
    width: 50%;
  }

  .footer-links{
    margin-left: 100px;
  }

  .footer-text-heading{
    font-size: 32px;
    font-weight: 500;
    margin: 7px auto;
  }
  .footer-text{
    text-align: left;
    margin-bottom: 50px;
  }
  .phone,.email{
    text-align: left;

  }

  .footer-links-heading{
    font-size: 25px;
    font-weight: bold;
  }

  .footer-links ul{
    column-count: 2;
    column-gap: 30px;
    list-style: none;
  }

  
.social-menu{
  padding-top: 100px;
  position: relative;
  height: 10%;
  width:  auto;
   
}
.social-menu ul {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #7d00eb;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.3s;
  transform: translate(0,0px);
  box-shadow: -1px 7px 20px 0px rgb(20 20 20);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #fb00ff;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077B5;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}






